<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1>移動パターン登録</h1>
    <form action="/pattern" method="post">
        <table class="table">
            <p>パターン名<br>
            <input type="text" name="pattern" size="10"></p>
            <p>出発地<br>
            <input type="text" name="origin" size="10"></p>
            <p>到着地<br>
            <input type="text" name="destination" size="10"></p>
            <p>金額<br>
            <input type="text" name="money" size="10"></p>
            <p>移動手段<br>
            <select name="method"><br>
                <option value="train">電車</option>
                <option value="bus">バス</option>
                <option value="taxi">タクシー</option>
                <option value="other">その他</option>
            </select><br>
    </form>
    <button>新規パターンを登録</button>
    <hr>
    <h1>パターン一覧</h1>
    <table border="0">
        <tr>
            <th>No.</th>
            <th>パターン名</th>
            <th>出発地</th>
            <th>到着地</th>
        </tr>
        <tr>
            <td>1</td>
            <td>オフィス出勤</td>
            <td>渋谷</td>
            <td>赤坂</td>
            <td><button>編集</button></td>
            <td><button>削除</button></td>
        </tr>
      </table>
  </body>
</html>